@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.9%;
    --foreground: 0 0% 10.2%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10.2%;
    --primary: 221.3 100% 22%;
    --primary-foreground: 0 0% 96.9%;
    --secondary: 51 25% 84.3%;
    --secondary-foreground: 0 0% 13.7%;
    --muted: 51 25% 84.3%;
    --muted-foreground: 0 0% 40%;
    --accent: 41.9 99.2% 50.2%;
    --accent-foreground: 0 0% 10.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 96.9%;
    --border: 51 15% 88%;
    --input: 51 15% 88%;
    --ring: 221.3 100% 22%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10.2%;
    --foreground: 0 0% 96.9%;
    --card: 0 0% 13.7%;
    --card-foreground: 0 0% 96.9%;
    --popover: 0 0% 13.7%;
    --popover-foreground: 0 0% 96.9%;
    --primary: 221.3 100% 22%;
    --primary-foreground: 0 0% 96.9%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 96.9%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 41.9 99.2% 50.2%;
    --accent-foreground: 0 0% 10.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 96.9%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 41.9 99.2% 50.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
